.portfolio-item {
  display: flex;
  flex-direction: row;
}

.p-title {
  font-size: 0.5em;
  padding-right: 50px;
}

.p-divider {
  width: 25%;
  margin: -5px 0px -5px 0px;
  padding: 0px;
}

.p-desc {
  font-size: 0.5em;
}

.asset-title {
  font-size: 0.6em;
  margin-top: 5px;
  margin-bottom: 5px;
}
