.trans-table {
  width: 100%;
  text-align: left;
  border-spacing: 0;
}

.trans-table thead {
  font-size: 0.6em;
}

.trans-table th {
  padding: 0px 0px 5px 0px;
  border-bottom: 1px solid #ddd;
}

.trans-table tbody {
  font-size: 0.5em;
}

.trans-table td {
  padding: 5px 0px 5px 0px;
}
